<launch>

    <!-- Motion in empty space -->
	<node pkg="stage_ros" name="stage" type="stageros" args="$(find stage_osu)/config/empty.world" />
    
    <!-- Motion in complex space -->
    <!-- <node pkg="stage_ros" name="stage" type="stageros" args="$(find stage_osu)/config/simple.world" /> -->

    <!-- Driving the robot -->
    <node pkg="hw1" name="simple_move" type="simple_move.py" output="screen">
        <!-- Maximum robot speed in the body x direction -->
        <param name="v_max" type="double" value="1.5"/>
        <!-- Anglur range of laser scan reading considered for obstacle detection -->
        <param name="max_angle" type="int" value="5"/>
        <!-- Maximum stopping distance (along body x) -->
        <param name="range_lim" type="double" value="2"/>
        <!-- Sim update rate -->
        <param name="sample_rate" type="int" value="2"/>
    </node>

</launch>